<h1> Talking to your work coach... </h1>


<div class="container">
  <form action="/answer" method="get">
    <input type="text" name="question" placeholder="say something to your coach" value="">
    <input type="submit" value="Ask!">
  </form>
</div>
